<div class="row">
  <label class="text-center"> Angular Project For Devops Course </label>
</div>
<div class="row mb-4">
  <label class="text-center"> Made by Zsombor Medgyesi </label>
</div>

<div class="row">
  <label class=text-center>Enter a number to the query params to check if it is a prime number or not</label>
</div>
<div class="row">
  <label class=text-center>Example: url/?number=2</label>
</div>
<div class="row">
  <label id="displayTextElement" class="text-center">
    {{ text }}
  </label>
</div>
